@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #ffffff;
}

h1 {
  font-weight: bold;
}

input:focus {
  outline: none;
}


.pge-prd-list {
  margin-top: 10px;
  margin-bottom: 10px;
}


